{#<li class="nav-item"><a class="nav-link" href="#banner">Home</a></li>#}
<li class="nav-item"><a class="nav-link" href="{{ url_for('front.index') }}#details">Event details</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('front.index') }}#artist">Artists</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('front.index') }}#tickets">Tickets</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('front.index') }}#gallery">Gallery</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('front.index') }}#teams">Our Team</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('front.index') }}#map">Venue</a></li>