{#<li class="nav-item"><a class="nav-link" href="#banner">Home</a></li>#}
<li class="nav-item"><a class="nav-link" href="#details">Event details</a></li>
<li class="nav-item"><a class="nav-link" href="#artist">Artists</a></li>
<li class="nav-item"><a class="nav-link" href="#tickets">Tickets</a></li>
<li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
<li class="nav-item"><a class="nav-link" href="#teams">Our Team</a></li>
<li class="nav-item"><a class="nav-link" href="#map">Venue</a></li>