<!-- 500.html -->
<!-- front/home.html -->
{% extends 'layout.html' %}

{% block title %}Welcome to {{ template_config['THEME'] }}{% endblock %}

{% block extra_head %}
<meta http-equiv="refresh" content="0; url=/dashboard" />
{% endblock %}

{% block content %}

        <div id="wrapper" class="row">
            <div class="columns">
                <section id="page-title" class="row">
                    <div class="large-12 columns">
                        <h2>Oops! An Error Occurred</h2>
                    </div>
                </section>
                <section id="main" class="row">
                    <section id="server-error" class="columns">
                        <p>An error has occurred on our system which has prevented us from carrying out the requested action. We apologise for the inconvenience, and suggest that you try again later. If you are seeing this message repeatedly, please contact the <a href="{{ template_config['WEBSITE_EMAIL_URL'] }}" target="_blank">webmaster</a>, giving details of what you were trying to do.</p>
                    </section>
                </section>
                <footer class="row">
                    <section id="copyright" class="large-8 large-centered columns">
                        <p>&copy; {{ current_year }} {{ template_config['BALL_NAME'] }}. All rights reserved. <a href="{{ template_config['WEBSITE_EMAIL_LINK'] }}" target="_blank">Webmaster</a></p>
                    </section>
                </footer>
            </div>
        </div>
{% endblock %}
