<!-- front/home.html -->
{% extends 'layout.html' %}

{% block title %}Welcome to {{ template_config['THEME'] }}{% endblock %}
{% block content %}
<!--<h1>***ONLINE TICKET SALES ARE NOW CLOSED! THERE WILL STILL BE TICKETS AVAILABLE ON THE DOOR BUT ARRIVE EARLY SO AS TO NOT MISS OUT***</h1>-->
<!--<h2>*ALL* TICKET HOLDERS HAVE ACCESS TO THE EVENING CLASSES. DOORS OPEN 6.30PM, CLASSES START AT 7PM</h2>-->

    <div class="col col-sm-12 col-lg-12 col-md-12" id="details">

        <p>The OUSS Summer Ball is on it’s way and promises to be a great event with workshops and classes from some fantastic teachers!

        <h4>💃Afternoon Workshops🕺</h4>
        <p>We are planning our afternoon workshop sessions and more details will be given asap! These will be in the afternoon of 6th May with the venue tbc.</p>
<!--        <p>We have booked-->
<!--            two separate rooms in St Columba's Church where we will be holding salsa and bachata workshops with-->
<!--            a variety of themes! All classes are open level but do require a good grasp of the basics and technique.</p>-->
<!--        <p>Schedule:</p>-->

<!--        <table style="width: 80%;" class="center">-->
<!--            <style>-->
<!--                table, th, td {-->
<!--                  border: 1px solid white;-->
<!--                  border-collapse: collapse;-->
<!--                  text-align:center-->
<!--                }-->
<!--            </style>-->
<!--            <colgroup>-->
<!--               <col span="1" style="width: 14%;">-->
<!--               <col span="1" style="width: 43%;">-->
<!--               <col span="1" style="width: 43%;">-->
<!--            </colgroup>-->

<!--            <tbody>-->
<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td>ROOM 1</td>-->
<!--                    <td>ROOM 2</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>3:00pm</td>-->
<!--                    <td>Doors open for ticket collection (workshops and/or evening passes)</td>-->
<!--                    <td></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>3:30pm</td>-->
<!--                    <td>Salsa Contratiempo with Mauricio Reyes</td>-->
<!--                    <td>Kizango with Donato Cappiello</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>4:30pm</td>-->
<!--                    <td>Bachata with Daniel Chong</td>-->
<!--                    <td>Rueda with Fabhiola Olviedo</td>-->
<!--                </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <br/>-->
<!--        <br/>-->

        <h4>💃Evening Ball🕺</h4>
        <p>This will take place in the Oxford Town Hall.
            You’ll have a couple of hours between finishing the workshops to go grab food and get glammed up in cocktail attire for the evening ball.
<!--            Dress up in cocktail attire for a night of workshops and dancing!-->
            The night will start with a class, led by some awesome teachers, followed by dazzling performances including our very own OUSS student show teams.
            Then it’s your time to shine!!! There will be live music and top DJs including Julian Summers and Sergio Fernandez
            booked to play in our separate salsa/cha-cha and bachata/kizomba rooms.</p>

        <p>Schedule:</p>
        <table style="width: 80%;"  class="center">
            <style>
                table, th, td {
                  border: 1px solid white;
                  border-collapse: collapse;
                  text-align:center
                }
            </style>
            <colgroup>
               <col span="1" style="width: 14%;">
               <col span="1" style="width: 43%;">
               <col span="1" style="width: 43%;">
            </colgroup>

            <tbody>
                <tr>
                    <td></td>
                    <td>MAIN HALL</td>
                    <td>ASSEMBLY ROOM</td>
                </tr>
                <tr>
                    <td>7:00-7:15pm</td>
                    <td>Warm-up animation</td>
                    <td>Warm-up animation</td>
                </tr>
                <tr>
                    <td>7:15-8:15pm</td>
                    <td>Intermediate-Advanced Partnerwork with Giles and Rosa<br/><br/>
                        Improvers Partnerwork with Salsa Junkie Steve<br/><br/>
                        Intro to salsa with Laura Conde Sevillano and Paco Perez</td>
                    <td>Intro to Bachata with Sergio Fernandez<br/><br/>
                        Improver-Intermediate Sensual Bachata partnerwork with Daniel Chong </td>
                </tr>

                <tr>
                    <td>8:15-8.30pm</td>
                    <td>Let's get the party started! Animations with Giles Eadle</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <br/>

<!--        <h4>💃After-party🕺</h4>-->
<!--        <p>If that's not enough, carry on dancing at our after-party with our DJs! We will be hosted by The Oxford Retreat and Noche de Reggaeton where we will carry on the party from 1:00am with our own room for our party DJs and full access to the main reggaeton dancefloor!</p>-->

        <p>To summarise. 🔥WORKSHOPS🔥 PERFORMANCES🔥 LIVE MUSIC🔥 DJS🔥 SEPARATE BACHATA/SALSA ROOMs🔥 COCKTAIL BAR🔥 BEAUTIFUL VENUE🔥 BEAUTIFUL PEOPLE🔥 DANCE🔥 DANCE🔥 DANCE  🔥</p>


        <p>
        VENUE:<br>
        Oxford Town Hall<br>
        St Aldates, Oxford OX1 1BX<br>
        5 minutes walk from Gloucester Green Bus Station<br>
        10 minutes walk from Oxford Railway Station<br>
        </p>

        <a href="https://www.facebook.com/events/527630868136447" class="btn btn-large">Facebook</a>
        <a href="#map" class="btn btn-large">Map to venue</a>

    </div>



    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="artist">Artists</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <p class="wow fadeInDown animated">We're bringing you some incredible artists
          from the UK and abroad! Stay tuned!<br></p>

        <h3>Afternoon Workshops</h3>
        <div class="card-group">
            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/default_logo.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Salsa Junkie Steve (London)</h5>
                    <p class="card-text"><b>Teaching Salsa partnerwork in the afternoon and evening. UCL's salsa team coach.</b></p>
                    <p class="card-text">Renowned for his endless energy, we're thrilled to host Steve!</p>
                </div>
            </div>
            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/danielchong.jpeg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Daniel Chong, London</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">Teaching Bachata, afternoon and evening, and bringing the fire from London's Bachata scene</p>
                </div>
            </div>
<!--            <div class="card" style="max-width:200px">-->
<!--                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/fabhiola.jpg') }}"/>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Fabhiola Olviedo</h5>-->
<!--                    <p class="card-text"><b>Teaching Rueda, afternoon</b></p>-->
<!--                    <p class="card-text">Fantastic Oxford-based Cuban, Mambo, and Rueda teacher.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card" style="max-width:200px">-->
<!--                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/donato.jpg') }}"/>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Donato Cappiello</h5>-->
<!--                    <p class="card-text"><b>Teaching Kizango, afternoon</b></p>-->
<!--                    <p class="card-text">Teaching a workshop on Kizango, a beautiful blend of kizomba and tango.</p>-->
<!--                </div>-->
<!--            </div>-->
            <!--one more tbc
            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/sergiosissi.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Sergio Fernandez</h5>
                    <p class="card-text"><b>Teaching Bachata, evening</b></p>
                    <p class="card-text">Oxford's favourite bachata teacher!</p>
                </div>
            </div>-->
        </div>


        <h3>Evening Workshops and Performances</h3>

        <div class="card-group">

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/default_logo.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Salsa Junkie Steve (London)</h5>
                    <p class="card-text"><b>Teaching Salsa partnerwork in the afternoon and evening. UCL's salsa team coach.</b></p>
                    <p class="card-text">Renowned for his endless energy, we're thrilled to host Steve!</p>
                </div>
            </div>

<!--            <div class="card" style="max-width:200px">-->
<!--                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/brennanandjames.jpeg') }}"/>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Brennan and James</h5>-->
<!--                    <p class="card-text"><b>Teaching Salsa, evening</b></p>-->
<!--                    <p class="card-text">Internationally known and this year's Salsa team coaches, Brennan and James will be teaching with their unique style! </p>-->
<!--                </div>-->
<!--            </div>-->

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/GilesandRosa.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Giles and Rosa</h5>
                    <p class="card-text"><b>Teaching Salsa, evening</b></p>
                    <p class="card-text">Oxford-based salsa teachers and dance floor pros!</p>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/lauraandpaco.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Laura and Paco</h5>
                    <p class="card-text"><b>Teaching Salsa, evening.</b></p>
                    <p class="card-text">Teaching an introduction to salsa across the evening!</p>
                </div>
            </div>

<!--            <div class="card" style="max-width:200px">-->
<!--                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/brennanandfilip.jpg') }}"/>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Brennan and Filip</h5>-->
<!--                    <p class="card-text"><b>Teaching Bachata, evening.</b></p>-->
<!--                    <p class="card-text">tbc</p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="card" style="max-width:200px">-->
<!--                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/jennifer.png') }}"/>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Jennifer Benavidez (Salsa Jennifer</h5>-->
<!--                    <p class="card-text"><b>Teaching Salsa, evening.</b></p>-->
<!--                    <p class="card-text">tbc</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card" style="max-width:200px">-->
<!--                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/donato.jpg') }}"/>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Donato Cappiello</h5>-->
<!--                    <p class="card-text"><b>Teaching Kizomba basics, evening</b></p>-->
<!--                    <p class="card-text">Teaching an introduction to kizomba in the evening.</p>-->
<!--                </div>-->
<!--            </div>-->
            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/sergio.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Sergio Fernandez</h5>
                    <p class="card-text"><b>Teaching Bachata, evening</b></p>
                    <p class="card-text">Oxford's favourite bachata teacher, we're thrilled to welcome sensei Sergio!</p>
                </div>
            </div>
<!--            <div class="card" style="max-width:200px" >-->
<!--                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/dockside.jpg') }}"/>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Bristol Latin Orchestra</h5>-->
<!--                    <p class="card-text"><b>Band</b></p>-->
<!--                    <p class="card-text">TBC</p>-->
<!--                </div>-->
<!--            </div>-->




            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/default_logo.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Oxford University Salsa Team</h5>
                    <p class="card-text"><b>Performing</b></p>
                    <p class="card-text">Performing their brand new salsa show! </p>
                </div>
            </div>


            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/default_logo.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Oxford University Bachata Team</h5>
                    <p class="card-text"><b>Performing</b></p>
                    <p class="card-text">Performing their brand new bachata show! </p>
                </div>
            </div>


<!--            <div class="card" style="max-width:200px">-->
<!--                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/pexava.jpg') }}"/>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Alma de Pexava Salsa Team</h5>-->
<!--                    <p class="card-text"><b>Performing</b></p>-->
<!--                    <p class="card-text">Straight from the stage of MamboCity's 5 Star Congress, and with some core members direct from Oxford!</p>-->
<!--                </div>-->
<!--            </div>-->


            <!--<div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/sergiosissi.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Sergio Fernandez</h5>
                    <p class="card-text"><b>Teaching Bachata, evening</b></p>
                    <p class="card-text">Oxford's favourite bachata teacher!</p>
                </div>
            </div>


            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/default_logo.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">More TBC!</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">More teachers and performers to be announced soon!</p>
                </div>
            </div>-->

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/default_logo.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">More TBC!</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">More teachers and performers to be announced soon!</p>
                </div>
            </div>




        </div>
        -->
    </div>


    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="djs">DJs</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <p class="wow fadeInDown animated"><br></p>

        <div class="card-group">



            <!--<div class="card" style="max-width:200px">-->
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/artists/fadi.jpg') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">Fadi K, London</h5>-->
                    <!--<p class="card-text"><b></b></p>-->
                    <!--<p class="card-text">Salsa DJ</p>-->
                <!--</div>-->
            <!--</div>-->



            <!--<div class="card" style="max-width:200px">-->
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/artists/alex.jpg') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">Alex Rasero, London</h5>-->
                    <!--<p class="card-text"><b></b></p>-->
                    <!--<p class="card-text">Bachata DJ</p>-->
                <!--</div>-->
            <!--</div>-->



            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/sergio.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Sergio Fernandez, Oxford</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">Bachata DJ</p>
                </div>
            </div>



            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/julian.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Julian Summers, London/Oxford</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">Salsa DJ</p>
                </div>
            </div>



            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/danielchong.jpeg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Daniel Chong, London</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">Bachata DJ</p>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/jose.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Cedric Sureshkumar, South West</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">Salsa DJ</p>
                </div>
            </div>


            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/IMG-2413.JPG') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Gwyneth Anne, Oxford</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">Salsa DJ</p>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/default_logo.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">More TBC!</h5>
                    <p class="card-text"><b></b></p>
                    <p class="card-text">More teachers and performers to be announced soon!</p>
                </div>
            </div>
<!--spacer-->
            <!--<div class="card" style="max-width:200px">-->
                <!---->
            <!--</div>-->



        </div>
    </div>


<!-- Ticket section -->

    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="tickets">Tickets</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <p><a href="{{ url_for('purchase.purchase_home', _anchor='purchase') }}" class="btn btn-large">Buy tickets</a>
        </p>

        <p class="wow fadeInDown animated">
            <!--On the door, all-day tickets will be £{{ template_config['MEMBER_ALL_PRICE'] }} for members-->
            <!--and £{{ template_config['STD_ALL_PRICE'] }} for non-members.-->
        </p>
        <!--<p class="wow fadeInDown animated">-->
            <!--We have a limited number of <b>early bird tickets</b> which include all workshops available at £{{ template_config['MEMBER_ALL_EARLY_PRICE'] }} for OUSS members-->
            <!--and £{{ template_config['STD_ALL_EARLY_PRICE'] }} for non-members.-->
        <!--</p>-->
        <!--<p class="wow fadeInDown animated">-->
            <!--Once these run out, all-day tickets are £{{ template_config['MEMBER_ALL_PRICE'] }} for OU Salsa Society members-->
            <!--and £{{ template_config['STD_ALL_PRICE'] }} for non-members.-->
        <!--</p>-->
        <!--<p>Party-only passes will be released nearer the time.</p>-->
        <!--<p>Early bird and afternoon workshop passes are now sold out. Evening ball passes are £{{ MEMBER_PARTY }} for members, £{{ STD_PARTY_PRICE }} for non-members</p>-->
        <!--<p>Early bird and afternoon workshop passes are now sold out. Evening ball passes are £20 for members, £25 for non-members</p>-->
        <p>Tickets cost:
        <ul>
        <li>Early Bird, workshops and party:	£24</li>
        <li>Early Full, workshops and party, OUSS Member price:	£29</li>
        <li>Full ticket, workshops and party:	£35</li>
        <li>Full ticket, workshops and party, OUSS Member price:	£29</li>
        <li>Party only:	£29</li>
        <li>Party only, OUSS Member price:	£24</li>
        </p>
        <p class="wow fadeInDown animated">
            You can become a member at any of our events (non-students too).
        </p>
        <p class="wow fadeInDown animated">
            There is a discount for groups of {{ template_config['GROUP_SIZE'] }} or more! These will be a flat rate of £{{ template_config['GROUP_TICKET_PRICE'] }}, or £25 to include the workshops.
        </p>
        <p class="wow fadeInDown animated"><a href="mailto:{{ template_config['TICKETS_EMAIL'] }}">Contact us if you have any questions.</a>
        </p>
        <p class="wow fadeInDown animated">
            Purchase and manage your tickets through our ticketing system here:
        </p>
        <a href="{{ url_for('purchase.purchase_home', _anchor='purchase') }}" class="btn btn-large">Buy tickets</a>
    </div>
<!-- Ticket section -->


<!-- gallery section -->
    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="gallery">Gallery</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">

        <p class="wow fadeInDown animated">Oxford Salsa Ball has been around
            for many years, so here are some memories from previous years. <a href="https://www.facebook.com/pg/SPAPhotographerAndFilmmaker/photos/?tab=album&album_id=2448239285227576">(2019 photos)</a></p>

        <div class="row no-gutter">
            <div id="gallerycol">
            {% for n in gallery_images2018 %}
{#                {% if loop.index0%4==1 %}#}
                    <div class="work" >
                    <a href="{{ url_for('static', filename='images/gallery/2018/'+n) }}"
                       class="work-box">
                    <img src="{{ url_for('static', filename='images/gallery/2018/'+n) }}" alt="{{ n }}"/>
                        <div class="overlay">
                            <div class="overlay-caption">
{#                                <p><span class="icon icon-magnifying-glass"></span></p>#}
                            </div>
                        </div>

                    </a></div>
{#                {% endif %}#}
            {% endfor %}
            </div>
        </div>

        <div class="row no-gutter">
            <div id="gallerycol2017">
            {% for n in gallery_images %}
{#                {% if loop.index0%4==1 %}#}
                    <div class="work" >
                    <a href="{{ url_for('static', filename='images/gallery/'+n) }}"
                       class="work-box">
                    <img src="{{ url_for('static', filename='images/gallery/'+n) }}" alt="{{ n }}"/>
                        <div class="overlay">
                            <div class="overlay-caption">
{#                                <p><span class="icon icon-magnifying-glass"></span></p>#}
                            </div>
                        </div>

                    </a></div>
{#                {% endif %}#}
            {% endfor %}
            </div>
        </div>


        <a href="https://www.facebook.com/media/set/?set=a.1044323125701770.1073741903.412485195552236&type=1&l=9946d390a9" class="btn btn-large">More pictures</a>
        <a href="https://www.facebook.com/media/set/?set=oa.10153796419533732&type=3" class="btn btn-large">2016 Photos</a>


    </div>
<!-- gallery section -->



<!-- our team section -->
    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="teams">Your Ball Committee</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <p class="wow fadeInDown animated">It's our pleasure to deliver the Oxford Salsa Ball to you this year.</p>
    </div>
    <div class="card-group">
            <div class="card" style="max-width:200px">
                <img src="{{ url_for('static', filename='images/default_logo.jpg') }}" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h4>Maya Blanco Bilbao</h4>
                    <h5 class="role">Society president</h5>
                    <!--<p>Optional text about yourself.</p>-->
                    <ul class="social-icons clearfix">
                        <li><a href="https://www.facebook.com/mayablancobilbao9/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="mailto:{{ template_config['TICKETS_EMAIL'] }}">@</a> </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img src="{{ url_for('static', filename='images/giulia.jpg') }}" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h4>Giulia Moretti</h4>
                    <h5 class="role">Society Secretary</h5>
                    <!--<p>Optional text about yourself.</p>-->
                    <ul class="social-icons clearfix">
                        <li><a href="https://www.facebook.com/giulia.moretti.73744" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="mailto:{{ template_config['TICKETS_EMAIL'] }}">@</a> </li>
                    </ul>
                </div>
            </div>


            <div class="card" style="max-width:200px">
                <img src="{{ url_for('static', filename='images/IMG-2413.JPG') }}" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h4>Gwyneth Anne</h4>
                    <h5 class="role">Ball Manager and Webmaster</h5>
                    <!--<p>Optional text about yourself.</p>-->
                    <ul class="social-icons clearfix">
                        <li><a href="https://www.facebook.com/gwyneth.ab" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="mailto:{{ template_config['WEBSITE_EMAIL'] }}">@</a> </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img src="{{ url_for('static', filename='images/sankalp.jpg') }}" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h4>Sankalp Garud</h4>
                    <h5 class="role">Treasurer</h5>
                    <!--<p>Optional text about yourself.</p>-->
                    <ul class="social-icons clearfix">
                        <li><a href="https://www.facebook.com/sankalp35" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="mailto:{{ template_config['TREASURER_EMAIL'] }}">@</a> </li>
                    </ul>
                </div>
            </div>
        </div>
<!-- our team section -->


<!--- Map section -->
    <div class="section-header" style="padding: 100px 0">
        <h2 class="wow fadeInDown animated" id="map">Find us</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">

        <p  class="wow fadeInDown animated">
        The summer ball will be held in the beautiful Oxford Town Hall.<br> <br>
        Address:<br>
        Oxford Town Hall<br>
        st Aldates<br>
        Oxford<br>
        OX1 1BX
        </p>

        </div>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <div id="map-row" >
                <div class="col-xs-12">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1777.0711329580477!2d-1.2564014878461662!3d51.75163302991391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6c8d8b783546a4a!2sOxford+Town+Hall!5e0!3m2!1sen!2suk!4v1551180717723">
                </iframe>
                </div>
        </div>
    </div>
<!--- Map section -->





{#   </div>#}
{##}
{#    <div class="col col-sm-12 col-lg-12 col-md-12">#}
{##}
{##}
{#    </div>#}
{% endblock %}
