<!-- front/home.html -->
{% extends 'layout.html' %}

{% block title %}Welcome to {{ template_config['THEME'] }}{% endblock %}

{% block content %}
    <div class="col col-sm-12 col-lg-12 col-md-12" id="details">

        <p>For the first time ever, the Oxford University Salsa Society are presenting the Oxford Salsa Masquerade this winter. We want to celebrate the end of a fantastic term with a huge and glamorous social. It will take place in the beautiful setting of the Oxford Modern Art Gallery.
        <p>The night will start with some salsa and bachata workshops led by your favourite Oxford teachers, followed by social dancing until 1:30. There will be separate salsa/chachacha and  bachata/kizomba rooms (both open until 01:30) with music played by your favourite local DJs and supported with live percussion. If you’re still full of energy, you can head to the Oxford Retreat for our informal afterparty. Drinks, including delicious cocktails, are available from the galleries bar and can be purchased using cash or card.

        <p>Dress code: Black tie and, of course, masks!

        <p>So come on, get dressed to impress and let’s celebrate the end of the term in style.

        <p>Tickets:
        <ul>
            <li>in advance £15members/£18 non-members</li>
            <li>Tickets on the door: £18members/£20 non-members</li>
        </ul>

        <p>
        <b>7.30pm:</b> Doors open<br>
        <b>8.00pm–9.00pm:</b> Workshops in Salsa and Bachata<br>
        <b>9.00pm-1.30am:</b> Party to the best Latin rythms!<br>
        <b>10.00pm:</b> Shows<br>
        <!--<b>10.45pm:</b> Live Band - Ran Kan Kan<br>-->
        <b>1.30am - late:</b> After-Party  in a secret location!
        </p>
        <p>
        VENUE:<br>
        Museum of Modern Art Oxford<br>
        30 Pembroke Street, Oxford OX1 1BP<br>
        5 minutes walk from Gloucester Green Bus Station<br>
        10 minutes walk from Oxford Railway Station<br>
        </p>
        <a href="https://www.facebook.com/events/437149370054759/" class="btn btn-large">Facebook</a>
        <a href="#map" class="btn btn-large">Map to venue</a>

    </div>



    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="artist">Artists</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <p class="wow fadeInDown animated">We're bringing you some incredible artists
          from the UK and abroad! Let us introduce them to you:<br></p>

        <div class="card-group">
            <!--<div class="card" style="max-width:200px" >-->
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/artists/rankankan.jpg') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">Ran Kan Kan</h5>-->
                    <!--<p class="card-text"><b>Band</b></p>-->
                    <!--<p class="card-text">Oxford’s 20 piece Cuban big band!</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="card" style="max-width:200px">-->
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/artists/ouss.JPG') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">OU Salsa Team</h5>-->
                    <!--<p class="card-text"><b>Performing</b></p>-->
                    <!--<p class="card-text">Oxford Uni student team, choreographed by Gil and Shelley</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="card" style="max-width:200px">-->
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/artists/ignite.jpg') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">Ignite Dance</h5>-->
                    <!--<p class="card-text"><b>Performing</b></p>-->
                    <!--<p>Choreographed by Giles and Rosa Eadle</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="card" style="max-width:200px">-->
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/artists/kfuk.jpg') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">Karel Flores UK Ladies</h5>-->
                    <!--<p class="card-text"><b>Performing</b></p>-->
                    <!--<p>Choreographed by Karel Flores</p>-->
                <!--</div>-->
            <!--</div>-->

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/artist_xyz.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Vaibhav and Iwona</h5>
                    <p class="card-text"><b>Teaching Bachata</b></p>
                    <p class="card-text">Awesome bachata teachers from Oxford and London</p>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/artist_xyz.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Tym Fuego</h5>
                    <p class="card-text"><b>Teaching Salsa</b></p>
                    <p class="card-text">Fantastic salsa teacher from London.</p>
                </div>
            </div>


            <!--<div class="card" style="max-width:200px">-->
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/artists/pexava.jpg') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">Gil and Shelley</h5>-->
                    <!--<p class="card-text"><b>Teaching Salsa</b></p>-->
                    <!--<p class="card-text">Gil and Shelley are the current coaches of our performance team. They're amongst the best dancers in the UK, and are regularly invited to international congresses. </p>-->
                <!--</div>-->
            <!--</div>-->

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/GilesandRosa.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Giles and Rosa Eadle</h5>
                    <p class="card-text"><b>Teaching Salsa</b></p>
                    <p class="card-text">Based in Oxford, Giles and Rosa have taught and performed all over the country. They've also produced countless salsa choreographies and We'll feature their latest mambo creation in the show lineup.  </p>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/artist_xyz.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">Sergio </h5>
                    <p class="card-text"><b>Teaching Bachata</b></p>
                    <p class="card-text">Oxford's favourite bachata teacher!</p>
                </div>
            </div>


<!--{#            <div class="card" style="max-width:200px">#}-->
<!--{#                <img class="card-img-top" src="{{ url_for('static', filename='images/artists/artist_xyz.jpg') }}"/>#}-->
<!--{#                <div class="card-body">#}-->
<!--{#                    <h5 class="card-title">More TBC!</h5>#}-->
<!--{#                    <p class="card-text"><b></b></p>#}-->
<!--{#                    <p class="card-text">More teachers and performers to be announced soon!</p>#}-->
<!--{#                </div>#}-->
<!--{#            </div>#}-->



        </div>
    </div>


    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="djs">DJs</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <p class="wow fadeInDown animated"><br></p>

        <div class="card-group">

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/julian.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">DJ Julian Summers</h5>
                    <p class="card-text"><b>DJ, Salsa</b></p>
                    <p class="card-text">Resident DJ for Oxford University Salsa Society, Julian DJs frequently in and around London and at international events.</p>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/sergio.jpg') }}"/>
                <div class="card-body">
                    <h5 class="card-title">DJ Sergio Fernandez</h5>
                    <p class="card-text"><b>DJ, Bachata</b></p>
                    <p class="card-text">Oxford's favourite bachata DJ and teacher.</p>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/IMG-2413.JPG') }}"/>
                <div class="card-body">
                    <h5 class="card-title">DJ Gwyneth Anne</h5>
                    <p class="card-text"><b>DJ, Salsa, afterparty</b></p>
                    <p class="card-text">Resident DJ for Oxford University Salsa Society, Gwyneth DJs in and around Oxford and Reading.</p>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/artists/jose.jpg') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">DJ Jose Perez-Mejuto</h5>-->
                    <!--<p class="card-text"><b>DJ, Salsa, afterparty</b></p>-->
                    <!--<p class="card-text">Resident DJ for Latin Motion, Birmingham, and Birmingham University Salsa Society.</p>-->
                <!--</div>-->
            </div>

            <div class="card" style="max-width:200px">
                <!--<img class="card-img-top" src="{{ url_for('static', filename='images/IMG-2413.JPG') }}"/>-->
                <!--<div class="card-body">-->
                    <!--<h5 class="card-title">DJ Gwyneth Anne</h5>-->
                    <!--<p class="card-text"><b>DJ, salsa</b></p>-->
                    <!--<p class="card-text">Resident DJ for Oxford University Salsa Society, Gwyneth DJs in and around Oxford and Reading.</p>-->
                <!--</div>-->
            </div>


        </div>
    </div>


<!-- Ticket section -->

    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="tickets">Tickets</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <p><a href="{{ url_for('purchase.purchase_home', _anchor='purchase') }}" class="btn btn-large">Buy tickets</a>
        </p>

        <p class="wow fadeInDown animated">
            On the door, tickets will be £{{ template_config['OTD_MEMBER'] }} for members
            and £{{ template_config['OTD_STANDARD'] }} for non-members.
        </p>
        <p class="wow fadeInDown animated">
            We have a limited number of <b>early bird tickets</b> available at £{{ template_config['EARLY_MEMBER'] }} for OUSS members
            and £{{ template_config['EARLY_STANDARD'] }} for non-members.
        </p>
        <p class="wow fadeInDown animated">
            Once these run out, tickets are £{{ template_config['MEMBER_PRICE'] }} for OU Salsa Society members
            and £{{ template_config['STANDARD_PRICE'] }} for non-members.
        </p>
        <p class="wow fadeInDown animated">
            You can become a member at any of our events (non-students too).
        </p>
        <p class="wow fadeInDown animated">
            There is a discount for groups of {{ template_config['GROUP_SIZE'] }} or more! These will be a flat rate of £{{ template_config['GROUP_TICKET_PRICE'] }}.
        </p>
        <p class="wow fadeInDown animated"><a href="mailto:{{ template_config['TICKETS_EMAIL'] }}">Contact us if you have any questions.</a>
        </p>
        <p class="wow fadeInDown animated">
            Purchase and manage your tickets through our ticketing system here:
        </p>
        <a href="{{ url_for('purchase.purchase_home', _anchor='purchase') }}" class="btn btn-large">Buy tickets</a>
    </div>
<!-- Ticket section -->


<!-- gallery section -->
    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="gallery">Gallery</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">

        <p class="wow fadeInDown animated">Oxford Salsa Ball has been around
            for many years, so here are some memories from last years.</p>

        <div class="row no-gutter">
            <div id="gallerycol">
            {% for n in gallery_images %}
{#                {% if loop.index0%4==1 %}#}
                    <div class="work" >
                    <a href="{{ url_for('static', filename='images/gallery/'+n) }}"
                       class="work-box">
                    <img src="{{ url_for('static', filename='images/gallery/'+n) }}" alt="{{ n }}"/>
                        <div class="overlay">
                            <div class="overlay-caption">
{#                                <p><span class="icon icon-magnifying-glass"></span></p>#}
                            </div>
                        </div>

                    </a></div>
{#                {% endif %}#}
            {% endfor %}
            </div>
        </div>


        <a href="https://www.facebook.com/media/set/?set=a.1044323125701770.1073741903.412485195552236&type=1&l=9946d390a9" class="btn btn-large">More pictures</a>
        <a href="https://www.facebook.com/media/set/?set=oa.10153796419533732&type=3" class="btn btn-large">2016 Photos</a>


    </div>
<!-- gallery section -->



<!-- our team section -->
    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="teams">Your Ball Committee</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <p class="wow fadeInDown animated">It's our pleasure to deliver the Oxford Salsa Ball to you this year.</p>
    </div>
    <div class="card-group">
            <div class="card" style="max-width:200px">
                <img src="{{ url_for('static', filename='images/silvia.jpg') }}" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h4>Silvia Butti</h4>
                    <h5 class="role">Ball president</h5>
                    <!--<p>Optional text about yourself.</p>-->
                    <ul class="social-icons clearfix">
                        <li><a href="https://www.facebook.com/silvia.butti.9" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="mailto:{{ template_config['TICKETS_EMAIL'] }}">@</a> </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img src="{{ url_for('static', filename='images/IMG-2413.JPG') }}" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h4>Gwyneth Anne</h4>
                    <h5 class="role">Webdeveloper</h5>
                    <!--<p>Optional text about yourself.</p>-->
                    <ul class="social-icons clearfix">
                        <li><a href="https://www.facebook.com/gwyneth.ab" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="mailto:{{ template_config['WEBSITE_EMAIL'] }}">@</a> </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="max-width:200px">
                <img src="{{ url_for('static', filename='images/quincy.jpg') }}" alt=""
                     class="card-img-top">
                <div class="card-body">
                    <h4>Quincy van den Berg</h4>
                    <h5 class="role">Treasurer &amp; Ticketing</h5>
                    <!--<p>Optional text about yourself.</p>-->
                    <ul class="social-icons clearfix">
                        <li><a href="https://www.facebook.com/quincy.vandenberg" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="mailto:{{ template_config['TREASURER_EMAIL'] }}">@</a> </li>
                    </ul>
                </div>
            </div>
        </div>
<!-- our team section -->


<!--- Map section -->
    <div class="section-header" style="padding: 100px 0">
        <h2 class="wow fadeInDown animated" id="map">Find us</h2>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">

        <p  class="wow fadeInDown animated">
        The ball will be held in the beautiful Oxford Town Hall.<br> <br>
        Address:<br>
        Oxford Town Hall<br>
        St. Aldate's<br>
        Oxford<br>
        OX1 1BX
        </p>

        </div>
    </div>
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <div id="map-row" >
{#                <div class="col-xs-12">#}
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=51.7506586,-1.2545639&amp;q=Oxford%20Town%20Hall%2C%20Oxford%2C%20OX1%201BX+(Oxford%20Town%20hall)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed">
                </iframe>
{#                </div>#}
        </div>
    </div>
<!--- Map section -->





{#   </div>#}
{##}
{#    <div class="col col-sm-12 col-lg-12 col-md-12">#}
{##}
{##}
{#    </div>#}
{% endblock %}
