<!-- admin_data/statistics.html -->
{% extends 'layout.html' %}

{% block title %}Data and Statistics{% endblock %}

{% block content %}
    <section id="admin_home" class="columns">

        <p>Early member (both): {{ emb }}</p>
        <p>Member both: {{ mbo }}</p>
        <p>Member ball only: {{ mba }}</p>
        <p>Early standard (both): {{ esb }}</p>
        <p>Standard (both): {{ sbo }}</p>
        <p>Standard ball only: {{ sba }}</p>


        <!--<h4>Revenue Statistics</h4>-->
        <!--<p>Total value of paid tickets: £5953</p>-->
        <!--<p>Of which, direct payments: £1175</p>-->
        <!--&lt;!&ndash;<p>Total value of paid tickets: £{{ '%.2f' % (p / 100) }}</p>&ndash;&gt;-->
        <!--<p>Total paypal income after fees: £4861.71</p>-->
        <!--&lt;!&ndash;<p>Total paypal income after fees: £4760.57{{ '%.2f' % (p2 / 100) }}</p>&ndash;&gt;-->
        <!--<p>Total income after fees: £6036.71</p>-->

    <hr/>

        <table>
            <thead>
                <td>Ticket Type</td>
                <td>Price</td>
            </thead>
            {% for t in tickets %}
                <tr>
                    <td>{{ t.ticket_type }}</td>
                    <td>{{ '%0.2f'| format(t.price_/100|float) }}</td>
                    <td>(( t.user.forenames }}</td>
                    <td>(( t.user.surname }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
