<!-- admin_data/statistics.html -->
{% extends 'layout.html' %}

{% block title %}Data and Statistics{% endblock %}

{% block content %}
    <section id="admin_home" class="columns">

        <p>Early member: {{ em }}</p>
        <p>Early standard: {{ es }}</p>
        <p>Member: {{ m }}</p>
        <p>Standard: {{ s }}</p>

        <h4>Revenue Statistics</h4>
        <p>Total value of paid tickets: £{{ '%.2f' % (p / 100) }}</p>
    <hr/>

        <table>
            <thead>
                <td>Ticket Type</td>
                <td>Price</td>
            </thead>
            {% for t in tickets %}
                <tr>
                    <td>{{ t.ticket_type }}</td>
                    <td>{{ '%0.2f'| format(t.price_/100|float) }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
