<!-- purchase/purchase_interstitial.html -->
{% extends 'layout.html' %}


{% block additional_scripts %}
{#  <meta http-equiv="X-UA-Compatible" content="IE=edge" />#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#  <script src="https://www.paypalobjects.com/api/checkout.js"></script>#}
{##}
{##}
{#    <!-- Load the required components. -->#}
{#<script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>#}
{#<script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>#}
{##}
{#<script>#}
{#paypal.Button.render({#}
{#  braintree: braintree,#}
{#  // Other configuration#}
{#{, '#id-of-element-where-paypal-button-will-render');#}
{#</script>#}



  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
{% endblock %}


{% block title %}Proceed to Payment Provider{% endblock %}

{% block content %}
<p>
  Please note that once tickets have been payed for, cancellations and refunds
    will only be made in exceptional circumstances and may be charged an administration fee.</p>
<p>An additional charge of {{ surcharge }}p will be added to your order to cover PayPal fees
</p>
<div class="div small-12 columns" style="margin-left: auto; margin-right: auto; float: none !important;">
  {{ form|safe}}


    <div id="paypal-button"></div>






</div>

{#  <script>#}
{#    // Be sure to have PayPal's checkout.js library and the Braintree client and PayPal checkout scripts loaded on your page.#}
{#// <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>#}
{#// <script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>#}
{#// <script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>#}
{##}
{#paypal.Button.render({#}
{#  braintree: braintree,#}
{#  client: {#}
{#    production: 'CLIENT_TOKEN_FROM_SERVER',#}
{#    sandbox: '{{ url_for('purchase.client_token' }}'#}
{#  },#}
{#  env: 'production', // Or 'sandbox'#}
{#  commit: true, // This will add the transaction amount to the PayPal button#}
{##}
{#  payment: function (data, actions) {#}
{#    return actions.braintree.create({#}
{#      flow: 'checkout', // Required#}
{#      amount: 10.00, // Required#}
{#      currency: 'GBP', // Required#}
{#      enableShippingAddress: true,#}
{#      shippingAddressEditable: false,#}
{#      shippingAddressOverride: {#}
{#        recipientName: 'OUSS',#}
{#        line1: 'Oxford.',#}
{#        line2: 'Oxford',#}
{#        city: 'Oxford',#}
{#        countryCode: 'UK',#}
{#        postalCode: 'OX1 2EA',#}
{#        state: 'OX',#}
{#        phone: '123.456.7890'#}
{#      }#}
{#    });#}
{#  },#}
{##}
{#  onAuthorize: function (payload) {#}
{#    // Submit `payload.nonce` to your server.#}
{#  },#}
{# }, '#paypal-button');#}
{#  </script>#}



    <script>
    paypal.Button.render({
        env: 'sandbox', // Or 'production',
        client: {
            sandbox:    'AQm9BedkwS2ZvB1K6CLFZK3zDeEgpS0lzVP63TKLMsnf4RrJw1b1JCrIgv3GqCWmZdhjVSenMJElmAI_',
            production: 'ATVJfDnIgPmfkmCQG5E1ao45DOoBpdGyHetcvojKE0yVzI8nUAvqb5p47B3yGn2tFMWtte8C2A2vTqSW'
        },

        commit: true, // Show a 'Pay Now' button

        style: {
            color: 'gold',
            size: 'small'
        },

      payment: function(data, actions) {
        /*
         * Set up the payment here
         */
        return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '{{ amount }}', currency: 'GBP' }
                        }
                    ],
                    note_to_payer: "An additional charge of {{ surcharge }}p has been added to your order to cover PayPal fees.",
                    redirect_urls: {
                      return_url: "{{ url_for('purchase.payment_processed') }}",
                      cancel_url: "{{ url_for('purchase.paypal_cancel',transaction_id=transaction_id) }}"
                    }
                }
            });
      },

      onAuthorize: function(data, actions) {
        /*
         * Execute the payment here
         */
        return actions.payment.execute().then(function(payment) {

                // The payment is complete!
                // You can now show a confirmation message to the customer
            window.location = "{{ url_for('purchase._paypal_processed',transaction_id=transaction_id,hash=hash) }}/"+payment.transactions[0].related_resources[0].sale.id;
            });

{#          // Get the payment details#}
{##}
{#            return actions.payment.get().then(function(paymentDetails) {#}
{##}
{#                // Show a confirmation using the details from paymentDetails#}
{#                // Then listen for a click on your confirm button#}
{##}
{#                document.querySelector('#confirm-button')#}
{#                    .addEventListener('click', function() {#}
{##}
{#                    // Execute the payment#}
{##}
{#                    return actions.payment.execute().then(function() {#}
{#                        // Show a success page to the buyer#}
{#                        return actions.redirect()#}
{#                    });#}
{#                });#}
{#            });#}
      },

      onCancel: function(data, actions) {
        /*
         * Buyer cancelled the payment
         */
      },

      onError: function(err) {
        /*
         * An error occurred during the transaction
         */
      }
    }, '#paypal-button');
  </script>
{% endblock %}
