{% extends "layout.html" %}
{% block head %}<meta http-equiv="refresh" content="180; url=/logout" />{% endblock %}






{% block title %}<div class="scrollDestination">Proceed to Payment Provider</div>{% endblock %}

{% block content %}
<p>
  Please note that once tickets have been payed for, cancellations and refunds
    will only be made in exceptional circumstances and may be charged an administration fee.</p>
    <p>An additional charge of £{{ surcharge/100 }} will be added to your order to cover PayPal fees.</p>
<br/>
<div class="div small-12 columns" style="margin-left: auto; margin-right: auto; float: none !important;">
  {{ form|safe}}


    <div id="paypal-button"></div>


	<div class="container">
			<form name="topaypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<INPUT TYPE="hidden" name="cmd" value="_xclick">
				<input type="hidden" name="custom" value="{{hash}}"/>
				<input type="hidden" name="item_number" value="{{transaction_id}}"/>
				<input type="hidden" name="business" value="admin@paperdinosaur.co.uk">
				<input type="hidden" name="item_name" value="OUSS BALL TICKET">
				<input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="currency_code" value="GBP">
				<input type="hidden" name="amount" value="{{ amount }}">
				<input type="hidden" name="src" value="1">
				<input type="hidden" name="sra" value="1">
				<input type="hidden" name="return" value="https://www.oxfordsalsaball.co.uk{{ url_for('purchase.success') }}">
				<input type="hidden" name="ipn" value="https://www.oxfordsalsaball.co.uk{{ url_for('purchase.ipn') }}">
<!--				<input type="hidden" name="return" value="https://127.0.0.1:5001{{ url_for('purchase._paypal_processed',transaction_id=transaction_id,hash=hash) }}/">-->
				<input type='hidden' name='rm' value='2'>
				<input type="hidden" name="cancel_return" value="">
				<input type="submit" value="Make Payment" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-primary">
			</form>


</div>





{% endblock %}
