{% extends "layout.html" %}






{% block title %}<div class="scrollDestination">Proceed to Payment Provider</div>{% endblock %}

{% block content %}
<p>
  Please note that once tickets have been payed for, cancellations and refunds
    will only be made in exceptional circumstances and may be charged an administration fee.</p>
    <p>An additional charge of £{{ surcharge/100 }} will be added to your order to cover PayPal fees.</p>
<br/>
<div class="div small-12 columns" style="margin-left: auto; margin-right: auto; float: none !important;">
  {{ form|safe}}


    <div id="paypal-button"></div>


	<div class="container">
			<form name="topaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
				<INPUT TYPE="hidden" name="cmd" value="_xclick">
				<input type="hidden" name="custom" value="{{session['username']}}"/>
				<input type="hidden" name="business" value="admin-facilitator@paperdinosaur.co.uk">
				<input type="hidden" name="item_name" value="OUSS BALL TICKET">
				<input type="hidden" name="item_number" value="500">
				<input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="currency_code" value="GBP">
				<input type="hidden" name="amount" value="{{ amount }}">
				<input type="hidden" name="src" value="1">
				<input type="hidden" name="sra" value="1">
				<input type="hidden" name="return" value="https://www.oxfordsalsaball.co.uk{{ url_for('purchase.success') }}">
<!--				<input type="hidden" name="return" value="https://127.0.0.1:5001{{ url_for('purchase._paypal_processed',transaction_id=transaction_id,hash=hash) }}/">-->
<!--				<input type='hidden' name='rm' value='2'>-->
				<input type="hidden" name="cancel_return" value="">
				<input type="hidden" name="notify_url" value="https://www.oxfordsalsaball.co.uk{{url_for('purchase.ipn',transaction_id=transaction_id,hash=hash)}}">
				<input type="submit" value="Make Payment" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-primary">
			</form>

<!--<div id="smart-button-container">-->
<!--      <div style="text-align: center;">-->
<!--        <div id="paypal-button-container"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  <script src="https://www.paypal.com/sdk/js?client-id=Ab_62G8Nl6M1JC27GDVZ5pQ-N1s5o6Pf2wszZr8q5X2ca4MqWUdQ2rXxDak1fiSmzoiveo-5o6_lE47A&enable-funding=venmo&currency=GBP" data-sdk-integration-source="button-factory"></script>-->
<!--  <script>-->
<!--    function initPayPalButton() {-->
<!--      paypal.Buttons({-->
<!--        style: {-->
<!--          shape: 'rect',-->
<!--          color: 'gold',-->
<!--          layout: 'vertical',-->
<!--          label: 'pay',-->

<!--        },-->

<!--        createOrder: function(data, actions) {-->
<!--          return actions.order.create({-->
<!--            purchase_units: [{"description":"OUSS BALL","amount":{"currency_code":"GBP","value":'{{ amount }}'}}]-->
<!--          });-->
<!--        },-->

<!--        onApprove: function(data, actions) {-->
<!--          return actions.order.capture().then(function(orderData) {-->

<!--            // Full available details-->
<!--            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));-->

<!--            // Show a success message within this page, e.g.-->
<!--            const element = document.getElementById('paypal-button-container');-->
<!--            element.innerHTML = '';-->
<!--            element.innerHTML = '<h3>Thank you for your payment!</h3>';-->

<!--            // Or go to another URL:  actions.redirect('thank_you.html');-->

<!--          });-->
<!--        },-->

<!--        onError: function(err) {-->
<!--          console.log(err);-->
<!--        }-->
<!--      }).render('#paypal-button-container');-->
<!--    }-->
<!--    initPayPalButton();-->
<!--  </script>-->




  </script>
	</div>




<!--    &lt;!&ndash; Set up a container element for the button &ndash;&gt;-->
<!--    <div id="paypal-button-container"></div>-->



</div>





{% endblock %}
